# Medical Data Visualizer

In [53]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [39]:
# Import data
df_raw = pd.read_csv('medical_examination.csv')
df = df_raw.copy()

In [40]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

To determine if a person is overweight, first calculate their BMI by dividing their weight in kilograms by the square of their height in meters. If that value is > 25 then the person is overweight. Use the value 0 for NOT overweight and the value 1 for overweight.

In [41]:
# Add 'overweight' column
df['overweight'] = [1 if cell>25 else 0 for cell in df['weight']/((df['height']/100)**2)]

In [42]:
# Normalize data by making 0 always good and 1 always bad. If the value of 'cholesterol' or 'gluc' is 1, make the value 0. If the value is more than 1, make the value 1.
df.replace({
    'cholesterol':{1:0, 2:1, 3:1},
    'gluc':{1:0, 2:1, 3:1}
    }, inplace=True)

In [44]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweight
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1,1
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1,1
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0,0

In [59]:
df_cat = pd.melt(df, id_vars=['cholesterol','gluc','smoke','alco','active','overweight'], value_vars=['cardio'])
df_cat

       cholesterol  gluc  smoke  alco  active  overweight variable  value
0                0     0      0     0       1           0   cardio      0
1                1     0      0     0       1           1   cardio      1
2                1     0      0     0       0           0   cardio      1
3                0     0      0     0       1           1   cardio      1
4                0     0      0     0       0           0   cardio      0
...            ...   ...    ...   ...     ...         ...      ...    ...
69995            0     0      1     0       1           1   cardio      0
69996            1     1      0     0       1           1   cardio      1
69997            1     0      0     1       0           1   cardio      1
69998            0     1      0     0       0           1   cardio      1
69999            1     0      0     0       1           0   cardio      0

[70000 rows x 8 columns]

In [71]:
df_cat.groupby('variable')['cholesterol'].value_counts()

variable  cholesterol
cardio    0              52385
          1              17615
Name: cholesterol, dtype: int64

In [ ]:
 Draw Categorical Plot
def draw_cat_plot():
    # Create DataFrame for cat plot using `pd.melt` using just the values from 'cholesterol', 'gluc', 'smoke', 'alco', 'active', and 'overweight'.
    df_cat = pd.melt(df, id_vars=['cholesterol','gluc','smoke','alco','active','overweight'], value_vars=['cardio'])


    # Group and reformat the data to split it by 'cardio'. Show the counts of each feature. You will have to rename one of the columns for the catplot to work correctly.
    df_cat = None

    # Draw the catplot with 'sns.catplot()'



    # Do not modify the next two lines
    fig.savefig('catplot.png')
    return fig

In [ ]:
# Draw Heat Map
def draw_heat_map():
    # Clean the data
    df_heat = None

    # Calculate the correlation matrix
    corr = None

    # Generate a mask for the upper triangle
    mask = None



    # Set up the matplotlib figure
    fig, ax = None

    # Draw the heatmap with 'sns.heatmap()'



    # Do not modify the next two lines
    fig.savefig('heatmap.png')
    return fig